body {
    /*background-color: #B3E5FC;*/
    border-radius: 10px
}

#profile-card .card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

#profile-content .card {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

/*profile background*/
 body {
     font-family: 'Rubik', sans-serif;
     height: 100% !important;
 }

 #star {
     margin-left: -5px !important;
     vertical-align: bottom !important;
     opacity: 0.5
 }

 .more {
     opacity: 0.5 !important
 }

 .btn:hover {
     color: black !important
 }

 .vl {
     margin: 8px !important;
     width: 2px;
     border-right: 1px solid #aaaaaa;
     height: 25px
 }

 #plus {
     opacity: 0.8
 }

#profile-background .card-footer {
    background-color: transparent !important;
    background-color:transparent;
}

#profile-background .card-body {
    min-height: 200px;
    background-image: url(../img/bg-profile.jpg);
    /*background-attachment: fixed;*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#profile-background {
    background-image: url(../img/bg-profile.jpg);
    height: 280px; /* You must set a specified height */
    background-attachment: fixed;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

 a:hover {
     background-color: #ccc !important
 }

 .btn-outlined:active {
     color: #FFF;
     border-color: #fff !important
 }

img {
    cursor: pointer;
    overflow: visible
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important
}

.background-blur {
	filter: blur(.1px);
	position: absolute;
	width: 100%;
}

/*Background Blur using backdrop-filter*/
.blur {
  background: rgba(255, 255, 255, 0.6); /*// Make sure this color has an opacity of less than 1*/
  backdrop-filter: blur(4px); /*// This be the blur*/
  height: 100%;
}

/*content*/

/*gallery*/
.image-container .image-story{
    width: 95%;
    height: 95%;
}

.d-pr-pl {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.option-gallery{
    position: fixed;
    top: 400px;
    right: 3%;
}

.option-item {
    height: 35px;
    width: 35px;
    font-size: 35px;
    margin-bottom: 1.2rem;
    text-align: center;
    filter: blur(.8px);
    /*color: rgba(33, 37, 41, 0.2);*/
    color: #f2f5f8;
    transition: transform 250ms;
}

.option-item.active {
    color: rgba(33, 37, 41, 1);
    filter: blur(0);
}
.option-item:hover {
    color: rgba(33, 37, 41, 1);
    filter: blur(0);
}
/*end gallery*/

/* 2 */
#create-diary a {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 400px;
  height: 60px;
  padding: 10px 25px;
  border: 2px solid #212529;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-2 {
  
}
.btn-2:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 20px;
  width: 90%;
  height: 70%;
  border: 1px solid #212529;
  /*f2f5f8 */
  /*212529*/
  opacity: 0;
  transition: all 0.3s ease;
}
.btn-2:hover:after {
  opacity: 1;
}
/*error*/
.error {
    border:1px solid red!important;
}

.imageStory {
  width: 500px;
  height: auto;
}